@page {
    size: 8.5in 11in;
    margin: 1in 1in 1in 1in;
    }
@media screen {
    body {
        max-width: 6.5in;
        margin: 1em auto;
        padding: 1in 1in 1in 1in;
    }
}
body {
    counter-reset: counter0-L0 counter0-L1 counter0-L2 counter0-L3 counter1-L0 counter1-L1 counter1-L2 counter3-L0;
    font-family: "Times New Roman", serif;
}
p, h1, h2, h3 {
    font-size: 12pt;
    text-align: justify;
}
h1 {
    font-weight: bold;
    font-size: 14pt;
    break-after: avoid;
    margin-top: 24pt;
    text-align: center;
}
h2:before {
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    margin-bottom: 12pt;
    margin-top: 12pt;
    content: counter(counter0-L0, decimal) ".";
    counter-increment: counter0-L0;
    text-align: start;
    text-indent: -0.4in;
    display: inline-block;
}
h2 {
    margin-bottom: 12pt;
    margin-top: 12pt;
    margin-left: 0.4in;
    counter-reset: counter0-L1;
}
h3 {
    font-weight: bold;
    break-after: avoid;
    margin-left: 0.4in;
    margin-top: 12pt;
}
p.align-right {
    text-align: end;
}
p.allegations-L1:before {
    font-weight: normal;
    font-style: normal;
    margin-bottom: 12pt;
    margin-top: 12pt;
    content: counter(counter0-L0, decimal) "." counter(counter0-L1, decimal);
    counter-increment: counter0-L1;
    text-align: start;
    text-indent: -0.4in;
    display: inline-block;
}
p.allegations-L1, p.allegations-L2, p.allegations-L3 {
    margin-bottom: 12pt;
    margin-top: 12pt;
    margin-left: 0.8in;
    counter-reset: counter0-L2;
}
p.allegations-L2:before {
    font-weight: normal;
    font-style: normal;
    content: counter(counter0-L0, decimal) "." counter(counter0-L1, decimal) "." counter(counter0-L2, decimal);
    counter-increment: counter0-L2;
    text-align: start;
    text-indent: -0.4in;
    display: inline-block;
}
p.allegations-L2, p.allegations-L3 {
    margin-left: 1.2in;
    counter-reset: counter0-L3;
}
p.allegations-L3:before {
    content: counter(counter0-L0, decimal) "." counter(counter0-L1, decimal) "." counter(counter0-L2, decimal) "." counter(counter0-L3, decimal) ".";
    counter-increment: counter0-L3;
    text-align: start;
    text-indent: -0.25in;
    display: inline-block;
}
p.allegations-L3 {
    margin-left: 1in;
    counter-reset: counter0-L4;
}
p.center {
    text-align: center;
}
p.citation {
    font-size: 11pt;
    font-style: italic;
    margin-left: 0.5in;
    margin-right: 0.5in;
}
p.enum:before {
    margin-bottom: 12pt;
    margin-top: 12pt;
    content: counter(counter3-L0, lower-alpha) ")";
    counter-increment: counter3-L0;
    text-align: start;
    text-indent: -0.2in;
    display: inline-block;
}
p.enum {
    margin-bottom: 12pt;
    margin-top: 12pt;
    margin-left: 1in;
    counter-reset: counter3-L1;
}
p.float {
    margin-left: 0.5in;
    text-indent: -0.5in;
}
p.ligne-15 {
    border-bottom-style: solid;
    border-bottom-width: 0.75pt;
    padding-bottom: 1pt;
    font-size: 1pt;
    margin-bottom: 24pt;
    margin-top: 6pt;
}
p.no-space, p.no-space-center-bold {
    margin-bottom: 0;
    margin-top: 0;
}
p.no-space-center-bold {
    font-weight: bold;
    text-align: center;
}
p.resolution-L1:before {
    font-family: Symbol, serif;
    margin-bottom: 12pt;
    margin-top: 12pt;
    content: "\f0b7";
    counter-increment: counter1-L0;
    text-align: start;
    text-indent: -0.3in;
    display: inline-block;
}
p.resolution-L1, p.resolution-L2, p.resolution-L3 {
    margin-bottom: 12pt;
    margin-top: 12pt;
    margin-left: 0.3in;
    counter-reset: counter1-L1;
}
p.resolution-L2:before {
    font-family: "Courier New", monospace;
    content: "\006f";
    counter-increment: counter1-L1;
    text-align: start;
    text-indent: -0.3in;
    display: inline-block;
}
p.resolution-L2 {
    margin-left: 0.6in;
    counter-reset: counter1-L2;
}
p.resolution-L3:before {
    font-family: Wingdings;
    content: "\f0a7";
    counter-increment: counter1-L2;
    text-align: start;
    text-indent: -0.3in;
    display: inline-block;
}
p.resolution-L3 {
    margin-left: 0.9in;
    counter-reset: counter1-L3;
}
p.retrait {
    margin-left: 0.5in;
}
p.signature-date {
    break-after: avoid;
    margin-top: 18pt;
}
p.signature-ligne {
    border-bottom-style: solid;
    border-bottom-width: 0.75pt;
    padding-bottom: 1pt;
    font-family: "Monotype Corsiva", PMingLiU, 新細明體, serif, cursive;
    font-size: 16pt;
    break-inside: avoid;
    break-after: avoid;
    margin-bottom: 0;
    margin-top: 18pt;
}
table {
    margin-left: 0;
}
table td {
    padding-bottom: 0;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0;
}