@page {
    size: 11in 8.5in;
    margin: 0.3in 1in 0.3in 6.5in;
    }
@media screen {
    body {
        max-width: 3.5in;
        margin: 1em auto;
        padding: 0.3in 1in 0.3in 6.5in;
    }
}
body {
    counter-reset: counter5-L0;
    font-family: "Times New Roman", PMingLiU, 新細明體, serif;
}
p, h1, h2, h3 {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    line-height: 12pt;
    margin-bottom: 12pt;
    margin-top: 12pt;
}
h1:before {
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    break-after: avoid;
    text-align: start;
    counter-increment: counter5-L0;
    text-indent: 0;
    margin-right: 0;
    display: inline-block;
}
h1 {
    font-weight: bold;
    font-family: Arial, sans-serif;
    break-after: avoid;
    text-align: center;
    margin-left: 0;
    counter-reset: counter5-L1;
}
h2 {
    font-weight: bold;
    break-after: avoid;
    margin-bottom: 5pt;
    margin-top: 24pt;
}
h3 {
    font-weight: bold;
    break-after: avoid;
    margin-left: 0.5in;
    margin-top: 18pt;
}
p.align-right {
    text-align: end;
}
p.fixed, p.fixed-center {
    font-family: "Lucida Sans Typewriter", monospace;
}
p.fixed-center {
    text-align: center;
}
p.center {
    text-align: center;
}
p.ligne-15 {
    border-bottom-style: solid;
    border-bottom-width: 0.75pt;
    font-size: 1pt;
    line-height: 1pt;
}
p.no-space, p.no-space-center-bold {
    margin-bottom: 0;
    margin-top: 0;
}
p.no-space-center-bold {
    font-weight: bold;
    text-align: center;
}
p.tab {
    margin-bottom: 5pt;
    margin-left: 0.25in;
    margin-top: 5pt;
}
table {
    margin-left: 0;
}
table td {
    padding-bottom: 0;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0;
}