@page {
    size: 8.5in 11in;
    margin: 0.829861in 0.159722in 0 0.159722in;
    }
@media screen {
    html {
        background-color: gainsboro;
    }
    body {
        background-color: white;
        border: 1px darkgray solid;
        box-shadow: 1rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
        max-width: 8.180556in;
        margin: 1em auto;
        padding: 0.829861in 0.159722in 0 0.159722in;
    }
}
body {
    font-family: Cambria;
    font-size: 12pt;
}
p {
    line-height: 15.85pt;
    margin-left: 0.1in;
    margin-right: 0.1in;
    font-family: "Lucida Sans Typewriter";
    font-weight: bold;
}