@page {
    size: 8.5in 11in;
    margin: 0.829861in 0.159722in 0 0.159722in;
    }
@media screen {
    html {
        background-color: gainsboro;
    }
    body {
        background-color: white;
        border: 1px darkgray solid;
        box-shadow: 1rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
        max-width: 8.180556in;
        margin: 1em auto;
        padding: 0.829861in 0.159722in 0 0.159722in;
    }
}
body {
    font-family: Cambria;
    font-size: 12pt;
}
p {
    line-height: 15.85pt;
    margin-left: 0.1in;
    margin-right: 0.1in;
    font-family: "Lucida Sans Typewriter";
    font-weight: bold;
}
table {
    margin-left: 0;
}
table td {
    padding-bottom: 0;
    padding-left: 5.4pt;
    padding-right: 5.4pt;
    padding-top: 0;
}
table.TableGrid {
    border-collapse: collapse;
    border-style: hidden;
    border-bottom-style: solid;
    border-bottom-width: 0.5pt;
    border-left-style: solid;
    border-left-width: 0.5pt;
    border-right-style: solid;
    border-right-width: 0.5pt;
    border-top-style: solid;
    border-top-width: 0.5pt;
    margin-left: 0;
}
table.TableGrid td {
    border-bottom-style: solid;
    border-bottom-width: 0.5pt;
    padding-bottom: 0;
    padding-left: 0.7pt;
    padding-right: 0.7pt;
    padding-top: 0;
}
table.TableGrid td + td {
    border-left-style: solid;
    border-left-width: 0.5pt;
}