p.first_line_space:before {
    text-indent: 0.5in;
    content: counter(mylist-L1, lower-alpha) ")" "\00A0";
    counter-increment: mylist-L1;
    text-align: left;
    display: inline-block;
}
p.first_line_space {
    margin-left: 0.25in;
    counter-reset: mylist-L2;
}