p.hangingtab:before {
    content: counter(hanginglist-L0, decimal) ")";
    counter-increment: hanginglist-L0;
    text-align: start;
    text-indent: -0.5in;
    display: inline-block;
}
p.hangingtab {
    margin-left: 0.5in;
    counter-reset: hanginglist-L1;
}