p.list-5-paragraph:before {
    content: counter(start-at-5-list-L1, decimal) ")";
    counter-increment: start-at-5-list-L1;
    text-align: start;
    text-indent: -1in;
    display: inline-block;
}
p.list-5-paragraph {
    margin-left: 1in;
}