p.resolution-L3:before {
    font-weight: normal;
    font-family: Wingdings;
    font-style: normal;
    content: "\f0a7";
    counter-increment: resolutions-L2;
    text-align: start;
    text-indent: -0.3in;
    display: inline-block;
}
p.resolution-L3 {
    margin-left: 0.9in;
    counter-reset: resolutions-L3;
}