p.resolution-L1:before {
    text-transform: none;
    font-weight: normal;
    font-family: Symbol, serif;
    font-style: normal;
    content: "\f0b7";
    counter-increment: resolutions-L0;
    text-align: start;
    text-indent: -0.3in;
    display: inline-block;
}
p.resolution-L1 {
    margin-left: 0.3in;
    counter-reset: resolutions-L1;
}