table.table-last-row-border-outside {
    line-height: 1;
    margin-bottom: 0;
    border-collapse: collapse;
}
table.table-last-row-border-outside tr:last-of-type td {
    background-color: #FF0;
    border-bottom-style: solid;
    border-bottom-width: 0.5pt;
    border-top-style: solid;
    border-top-width: 0.5pt;
}
table.table-last-row-border-outside tr:last-of-type td:first-of-type {
    border-left-style: solid;
    border-left-width: 0.5pt;
}
table.table-last-row-border-outside tr:last-of-type td:last-of-type {
    border-right-style: solid;
    border-right-width: 0.5pt;
}