table.table-first-col {
    line-height: 1;
    margin-bottom: 0;
}
table.table-first-col tr td:first-of-type {
    margin-left: auto;
    border-spacing: 0.35pt;
    font-style: italic;
}
table.table-first-col tr:first-of-type {
    margin-left: auto;
    border-spacing: 0.35pt;
}