table.table-banded-rows {
    line-height: 1;
    margin-bottom: 0;
}
table.table-banded-rows tr:nth-child(2n+1) td {
    font-weight: bold;
}
table.table-banded-rows tr:nth-child(2n+2) td {
    font-style: italic;
}